default-request-timeout: 10000
name                            : Total.js
author                          : You company name
version                         : 1.0.0
secret                          : secret-key-for-web
